<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{employee.email}}
    </div>
    <div>
        <label> <b> Phone Number: </b></label> {{employee.phoneNumber}}
    </div>
    <div>
        <label> <b> Department ID: </b></label> {{employee.departmentId}}
    </div>
    <div>
        <label> <b> Job ID: </b></label> {{employee.jobId}}
    </div>
    <div>
        <label> <b> Salary: </b></label> {{employee.salary}}
    </div>
    <div>
        <label> <b> Hire Date: </b></label> {{employee.hireDate}}
    </div>
    <div>
        <label> <b> Commission PCT: </b></label> {{employee.commissionPct}}
    </div>
    <div>
        <label> <b> Manager ID: </b></label> {{employee.managerId}}
    </div>
</div>
